
# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out

# Turbo
.turbo


# Environment variables (never commit secrets)
.env
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/migrations/dev.db

# Expo
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage

# TypeScript
*.tsbuildinfo
temp_auto_push.bat
temp_interactive_push.bat
config.bat
branch_structure.json
